<!--<include file="Public:header"/>
<body>--> <!--class="hold-transition skin-red-light sidebar-mini"-->
<!--<div id="top"></div>
<header class="main-header">-->
<!--refresh in 1 min-->
<!--    <meta http-equiv="refresh" content="60">-->
    <!-- Logo -->
    <!--<div style="background-color: #16aad8;width: 100%;height: 50px">
        <br/>
        <span style="width: 350px ;color: white;font-size:large;left: 15px;margin-top: -4%;">
            Server Monitor Report Server
        </span>
        <select id="queryDays" style="text-align: center; margin-top: -4%; margin-left: 90%" data-toggle="modal" data-target="#myModal" class="btn btn-danger ">
            <option value="1" selected="selected">Today</option>
            <option value="7">This week</option>
            <option value="30" >This month</option>
        </select >
    </div>-->
<!--</header>-->

<!doctype html>
<html>
<head>
    <title>React Sidebar</title>
    <meta name='theme-color' content='#03a9f4'>
    <meta name='viewport' content='width=device-width,
      user-scalable=no' />
    <style>
        .custom-sidebar-class {
            background-color: #FFF;
        }
    </style>
</head>
<body>
<div id="example"></div>
<script src="__ROOT__/Application/Home/View/example/compiled/index.js"></script>
<include file="Public:blankMark"/>
<include file="Public:barChart"/>
<include file="Public:pieChart"/>
<include file="Public:table"/>
</body>
</html>



