
    <style>
        /*定义了类 axis 下的 path、line、text 元素的样式。接下来，只需要将坐标轴的类设定为 axis 即可。*/
        .axis path,
        .axis line{
            margin-left: auto;
            fill: none;
            stroke: black;
            shape-rendering: crispEdges;
        }
        .axis text {
            font-family: sans-serif;
            font-size: 11px;
        }

        .MyText {
            fill: white;
            text-anchor: middle;
        }
        .barChart{
              position: relative;
            left:-5%;
            width: auto;
            margin-right: 55%;
            text-align: center;
          }
    </style>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <script>
        var _min=Number.MAX_VALUE;
        var datayAxis=["google", "yahoo", "baidu", "outube", "360", "error", "henu","ihongguang"];

        var dataset = [11, 20, 30, 40, 33, 24, 12, 2];
        $.ajax({
            type: "post",
            url: "/servermonitorreportserver/index.php/home/index/getDataForLineChart",
            data: {
                queryDays:parseInt(1)
            },
            async:false,
            success: function (data)
            {
                if(data.length!=0)
                {
                    for(var i=0;i<data.length;i++)
                    {
                        dataset[i] =parseInt( data[i].times);
                        if(i%7!=0)
                            datayAxis[i]= "";
                        else
                            datayAxis[i]= (data[i].errortime)/*.substring(11)*/;
                        if(_min<parseInt(dataset[i]))
                            _min=parseInt(dataset[i]);
                    }
                    if(_min>=5)
                        dataset[data.length]=_min-5;
                    else
                        dataset[data.length]=0;
                }

                //console.log(dataset)
            },

        });


        var dataset7 = [45, 20, 25, 10, 4, 24, 45, 2];
        $.ajax({
            type: "post",
            url: "/servermonitorreportserver/index.php/home/index/getDataForLineChart",
            data: {
                queryDays:parseInt(7)
            },
            async:false,
            success: function (data)
            {
                if(data.length!=0)
                {
                    for(var i=0;i<data.length;i++)
                    {
                        dataset7[i] =parseInt( data[i].times);
                        if(i%7!=0)
                            datayAxis[i]= "";
                        else
                            datayAxis[i]= (data[i].errortime)/*.substring(11)*/;
                        if(_min<parseInt(dataset7[i]))
                            _min=parseInt(dataset7[i]);
                    }
                    if(_min>=5)
                        dataset7[data.length]=_min-5;
                    else
                        dataset7[data.length]=0;
                }

                //console.log(dataset7)
            },

        });


        var dataset30 = [10, 56, 10, 40, 5, 78, 19, 33];
        $.ajax({
            type: "post",
            url: "/servermonitorreportserver/index.php/home/index/getDataForLineChart",
            data: {
                queryDays:parseInt(30)
            },
            async:false,
            success: function (data)
            {
                if(data.length!=0)
                {
                    for(var i=0;i<data.length;i++)
                    {
                        dataset30[i] =parseInt( data[i].times);
                        if(i%7!=0)
                            datayAxis[i]= "";
                        else
                            datayAxis[i]= (data[i].errortime)/*.substring(11)*/;
                        if(_min<parseInt(dataset30[i]))
                            _min=parseInt(dataset30[i]);
                    }
                    if(_min>=5)
                        dataset30[data.length]=_min-5;
                    else
                        dataset30[data.length]=0;
                }

                //console.log(dataset30)
            },

        });


        //画布大小
        //画布大小
        var width =0.69*(document.body.clientWidth);//400
        var height =400;//400


        d3.select("#queryDays").on("change", function() {
            var v = d3.select(this)[0][0].value;
            if (v == 30) {
                update(dataset30)
            }
            if (v == 7) {
                update(dataset7)
            }
            if (v == 1) {
                update(dataset)
            }

        })


        //在 body 里添加一个 SVG 画布
        var svg = d3.select("body")
                .append("svg")
                .attr("class", "barChart")
                .attr("width", width*1.5)
                .attr("height", (height*1.5));

        //画布周边的空白
        var padding = {left:-10, right:30, top:20, bottom:20};


        //定义一个数组


        //x轴的比例尺
        var xScale = d3.scale.ordinal()
                .domain(d3.range(datayAxis.length))
                .rangeRoundBands([d3.min(dataset), width - 0.25*(document.body.clientWidth) - padding.right]);

        //y轴的比例尺
        var yScale = d3.scale.linear()
                .domain([d3.min(dataset),d3.max(dataset)])//定义域
                .range([height - padding.top - padding.bottom, 0]);//值域


        //定义x轴
        //定义x轴
        var xAxis = d3.svg.axis()
                        .scale(xScale)  //指定比例尺
                        .orient("bottom") //指定刻度的方向 ，bottom 表示在坐标轴的下方显示。
                        //.ticks(6)        //指定刻度的数量
                        //.tickValues(datayAxis)
                        .tickFormat(function(d){return datayAxis[d];})
                /*.tickValues([0,1, 2, 3, 4, 5, 6, 7])*/;
        //定义y轴
        var yAxis = d3.svg.axis()
                .scale(yScale) //y轴
                .orient("left");



        //矩形之间的空白
        var rectPadding = 2;

        //添加矩形元素

        update(dataset)
        //添加x轴
        svg.append("g")
                .attr("class", "axis x")
                .attr("transform","translate(" +  0.25*(document.body.clientWidth) + "," + (height - padding.bottom) + ")")//坐标轴的位置
                .call(xAxis) //其参数是前面定义的坐标轴 axis。 call() 的参数是一个函数。调用之后，将当前的选择集作为参数传递给此函数。
                .selectAll("text")
                .style("text-anchor", "end")
                .attr("dx", "-.8em")
                .attr("dy", "-.15em")
                .attr("transform", "rotate(-30)" );
        //.append('text')
        //.text('siteName')
        //.attr('transform', 'translate(' + (width - 100) + ', -2)');
        //添加y轴
        svg.append("g")
                .attr("class", "axis y")
                .attr("transform","translate(" +  0.25*(document.body.clientWidth) + "," + padding.top + ")")
                .call(yAxis)
                .append('text')
                .attr("fill", "#000")
                .attr("transform", "rotate(-90)")
                .attr("y", 6)
                .attr("dy", "0.71em")
                .style("text-anchor", "end")
                .text('times');

        function update(data) {
            //update  x and y axis domain
            xScale.rangeRoundBands([d3.min(data), width - padding.left - padding.right]);
            yScale.domain([d3.min(data), d3.max(data)]) //定义域
            //update the x and y axis
            d3.selectAll(".x").call(xAxis);
            d3.selectAll(".y").call(yAxis);

            //remove all teh rectangles
            svg.selectAll(".MyRect").remove();
            //append rectangles with new data
            svg.selectAll(".MyRect")
                    .data(data)
                    .enter()
                    .append("rect")
                    .attr("fill", "#16aad8")//4285F4
                    .attr("class", "MyRect")
                    .attr("transform", "translate(" + 0.25*(document.body.clientWidth) + "," + padding.top + ")")

                    .attr("x", function(d, i) {
                        return xScale(i) + rectPadding / 2;
                    })
                    .attr("width", xScale.rangeBand() - rectPadding)
                    .attr("y", function(d) {
                        var min = yScale.domain()[0];
                        return yScale(min);
                    })
                    .attr("height", function(d) {
                        return 0;
                    })


                    .on("mouseover", function(d, i) {
                        d3.select(this)
                                .attr("fill", "blue");
                    })
                    .on("mouseout", function(d, i) {
                        d3.select(this)
                                .transition()
                                .duration(500)
                                .attr("fill","#16aad8");//4285F4
                        return d;
                    })

                    /* .on("mouseout",function(d,i){
                     d3.select(this)
                     .attr("fill","yellow");
                     }*/
                    .transition()
                    .delay(function(d, i) {
                        return  200;
                    })

                    .duration(2000)
                    .ease("bounce")
                    .attr("y", function(d) {
                        return yScale(d);
                    })

                    .attr("height", function(d) {
                        return height - padding.top - padding.bottom - yScale(d);
                    })

            /* .on("mouseout", mouseout)
             .call(force.drag);*/
            ;

            //添加文字元素
            //remove all text
            svg.selectAll(".MyText").remove();
            //append new text
            svg.selectAll(".MyText")
                    .data(data)
                    .enter()
                    .append("text")
                    .attr("class", "MyText")
                    .attr("transform", "translate(" + 0.25*(document.body.clientWidth) + "," + padding.top + ")")
                    .attr("x", function(d, i) {
                        return xScale(i) + rectPadding / 2;
                    })
                    .attr("dx", function() {
                        return (xScale.rangeBand() - rectPadding) / 2;
                    })
                    .attr("dy", function(d) {
                        return 20;
                    })
                    .text(function(d) {
                        return d;
                    })
                    .attr("y", function(d) {
                        var min = yScale.domain()[0];
                        return yScale(min);
                    })
                    .transition() ////启动过渡
                    .delay(function(d, i) {
                        return  200;
                    })
                    .duration(2000) //指定过渡的持续时间，单位为毫秒。  2 Second


                    /*	ease()
                     指定过渡的方式，常用的有：
                     linear：普通的线性变化
                     circle：慢慢地到达变换的最终状态
                     elastic：带有弹跳的到达最终状态
                     bounce：在最终状态处弹跳几次*/
                    .ease("bounce")
                    .attr("y", function(d) {
                        return yScale(d);
                    });

        }
    </script>